::ng-deep {
  app-layout {
    .page {
      background: #dddddd;
      min-height: 100vh;
    }
  }
  p-breadcrumb {
    .p-breadcrumb {
      background: #dddddd;
    }
  }
  p-toast {
    .p-toast {
      opacity: 1;
      .p-toast-message {
        .p-toast-message-content {
          padding: 0.5rem;
        }
      }
    }
  }
  p-confirmDialog {
    .p-dialog-mask {
      z-index: 2000;
    }
  }
}
